<header>
  <nav>
    <ul class="menu_ul">
        <%if current_user%>
          <% if current_page?(groups_path) %>
            <%= link_to groups_path, class:"link_li" do %>
              <span class="iconify" data-icon="bx:menu"></span>
            <% end %>
          <% else %>
            <%= link_to groups_path, class:"link_li" do %>
              <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to root_path, class:"link_li" do %>
            <span class="iconify" data-icon="bx:menu"></span>
          <% end %>
        <%end%>
      </li>
      <li class="menu_li">
        <p><%= render partial: 'partials/navtitle' %></p>
      </li>
      <li class="menu_li">
        <%if current_user%>
          <%= link_to destroy_user_session_path, method: :delete, class:"link_li" do %>
            <span class="iconify" data-icon="charm:sign-out"></span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class:"link_li" do %>
            <span class="iconify" data-icon="charm:sign-in"></span>
          <% end %>
        <%end%>
      </li>
    </ul>
  </nav>
</header>
