<%if current_user%>
  <% if current_page?(groups_path) %>
    <%= link_to root_path, class:"link_li" do %>
      <span class="iconify" data-icon="bx:menu"></span>
    <% end %>

  <% else %>
    <% if @group %>
      <% if @group.id == nil && current_page?(new_group_path) %>
        <%= link_to groups_path, class:"link_li" do %>
          <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
        <% end %>
      <% end %>

      <% if @group.id != nil && current_page?(group_path(@group)) %>
        <%= link_to groups_path, class:"link_li" do %>
          <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
        <% end %>
      <% end %>

      <% if @group.id != nil && current_page?(edit_group_path(@group)) %>
        <%= link_to group_path(@group), class:"link_li" do %>
          <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
        <% end %>
      <% end %>
    <% end %>

    <% if @expense && @group %>
      <% if @expense.id == nil && current_page?(new_group_expense_path(@group)) %>
        <%= link_to group_path(@group), class:"link_li" do %>
          <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
        <% end %>
      <% end %>

      <% if @expense.id != nil && current_page?(edit_group_expense_path(@group, @expense)) %>
        <%= link_to group_path(@group), class:"link_li" do %>
          <span class="iconify" data-icon="eva:arrow-ios-back-outline"></span>
        <% end %>
      <% end %>
    <% end %>
    
  <% end %>

<% else %>
  <%= link_to root_path, class:"link_li" do %>
    <span class="iconify" data-icon="bx:menu"></span>
  <% end %>
<%end%>
