<%= form_with(model: group) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, value: @group.name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.select :icon, ["âœˆï¸", "ðŸŽ®", "ðŸ“š", "ðŸ¥", "ðŸˆ", "ðŸŽ¬", "ðŸ ", "ðŸ¶", "ðŸ»", "ðŸ”", "ðŸš—", "ðŸ–¥"], value: @group.icon %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
