<div class="splash_screen">
  <%if current_user%>
    <h2 class="splash_text">Welcome, <%= current_user.name %>!</h2>
  <% end %>
  <%= image_tag "app_icon.png", class:"app_icon" %>
  <h1>iBudget</h1>
  <div class="splash_buttons">
    <%if current_user%>
      <%= link_to "Categories", groups_path, class:"app_button standard_button" %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"app_button red_button" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path, class:"app_button green_button" %>
      <%= link_to "Sign Up", new_user_registration_path, class:"app_button standard_button" %>
    <% end %>
  </div>

  <p class="splash_text">By <a href="https://github.com/jsug9"target="_blank" rel="noopener noreferrer">Augusto Galindo</a></p>
</div>
